.bimage {
    background-image: url("https://cdn.wallpapersafari.com/11/88/XrpbtF.jpg");  
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 

.caption {
    position: absolute;
    left: 15%;
    top: 50%;
    width: 30%;
    text-align:center;
    color: #000;   
  } 

.wel {
  color:rgb(23, 18, 7);
  font-family: "Latin Modern Roman";
  font-style: italic;
  font-weight: 160;
  font-size: 190%;
  background-color: rgba(250, 235, 215, 0.553);
  border-radius: 5%;
}

.btn {
  cursor: pointer;
  border-color: #000;
  border-style: double;
  border-radius: 5px;
  font-size: 140%;
  font-weight: 1;
  font-family: "Latin Modern Roman";
  font-style: italic;
  color: black;
  background-color: rgba(220, 229, 144, 0.514);
}
  
.btn:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
  /* background-color: rgba(211, 199, 103, 0.829) ; */
  background-color: rgba(0, 0, 0, 0.69);
  color: rgba(211, 199, 103, 0.829);
  font-size: 150%;
}

